# dot files
/.vscode
/.settings
/.eide
/.cmsis
/DebugConfig

# project out
/build
/bin
/obj
/out
/QSPI_LCD


# eide template
*.ept
*.eide-template
.clangd
.clang-format
*.json
*.scvd
*.administrator
*.kun666666
*.shiya
*.uvoptx
*.lst
